body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg);
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

main {
  height: 90vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  text-decoration: none;
  margin: 1vw;
  color: var(--link-color-primary);
  padding: 5px 10px;
  font-weight: bolder;
  transition: all 0.5s ease;
}

nav a:hover {
  color: var(--link-color-secondary);
}